/** Navegador**/
.collapse {
    background-color: #2b2b2be1;
}

.container-fluid {
    justify-content: flex-end !important;
    justify-content: space-evenly;
}

.navbar {
    grid-area: navbar;
    background-color: #000000c0;
    display: flex;
    font-family: "Lexend deca";
    justify-content: center;
    

    ul {
        list-style: none;
        font-size: 50%;
        display: flex;
        align-items: center;

        & a {
            text-decoration: none;
            color: #fff;
            margin: 2px;
            padding: 2px;
        }

        & :hover {
            background: #19191b;
            border-radius: 2px;
        }

    }

    
    
}